
table {
    margin-left: 25px;
    height: 225px;
    width: 625px;
}

td.label {
    width: 150px;
}

input {    
    width: 200px;
}

textarea {
    width: 200px;
    height: 50px
}

.file-upload-container {    
    display: 'flex';
    flex-direction: 'row';
    margin-bottom: 10;
}

.file-select {    
    border-radius: 0;
    margin-left: 0;
    margin-right: 0;
    width: '40%';
    padding-left: 0;
    padding-right: 0;
}

.remove-file {
    border-radius: 0;
    margin-left: 0;
    margin-right: 0;
    padding-left: 20;
    padding-right: 20;
}

.file-upload {    
    border-width: 1px;
    border-style: solid;
    border-color: '#ccc';
    margin-top: 5px;
    margin-bottom: 5px;
    height: 22px;
    width: '60%';
}
